@import "tailwindcss";

:root {
  --background: #f3f2f1;
  --foreground: #242424;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), "Segoe UI", system-ui, sans-serif;
}
